CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
Makefile
*.ninja
*.cbp
*.cmake

*.pro.user
*.pro.user.*
*.qmake.stash
build-*/
build/
release/
debug/
x64/
x86/
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
object_script.*
*.qmlc
*.jom

*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.pdb
*.obj
*.ilk
*.idb
*.exp
*.manifest

*.qmlc
qmldir

.cache/
.autotools
.project
.cproject
.settings/

.openapi-generator/
.openapi-generator-ignore
.openapi-generator/FILES

docs/
doc/
Doxygen/


*_autogen
*.moc
*.qrc.depends
